

<div style="width:500px; height:50px; overflow:hidden; margin-top:300px; border:1px solid #ff2200;" >
  <div style="position:relative;" [style.left]="-lefterx + 'px'">
      <table>
      <colgroup>
        <col class="xs">
        <col class="s">
        <col class="m">
        <col class="l">
        <col >
      </colgroup>
      <thead>
        <tr>
          <th>Lorem.</th>
          <th>Laudantium?</th>
          <th>Fugiat.</th>
          <th>Nobis.</th>
          <th>Ea.</th>
        </tr>
      </thead>
    </table>
  </div>  
</div>
<div style="width:500px; height:300px; overflow:scroll; border:1px solid #ff2200;" (scroll)="onScroll($event)">

<table>
    <colgroup>
      <col class="xs">
      <col class="s">
      <col class="m">
      <col class="l">
      <col >
    </colgroup>
    <tbody>
      <tr>
        <td>si.</td>
        <td>imi?</td>
        <td>r vero.</td>
        <td>uibusdam!</td>
        <td>numquam unde.</td>
      </tr>
      <tr>
        <td>, impedit.</td>
        <td>mus.</td>
        <td>fficia.</td>
        <td>delectus.</td>
        <td>am, deserunt.</td>
      </tr>
      <tr>
        <td>os </td>
        <td>nim.</td>
        <td>mpedit!</td>
        <td> tempora.</td>
        <td> facere odit.</td>
      </tr>
      <tr>
        <td>d re</td>
        <td>sam!</td>
        <td>iandae!</td>
        <td>luptatem!</td>
        <td> ut corporis.</td>
      </tr>
      <tr>
        <td>ssim</td>
        <td>uia.</td>
        <td>igendi!</td>
        <td> tempora.</td>
        <td>quia commodi.</td>
      </tr>
      <tr>
        <td> Ani</td>
        <td>uam.</td>
        <td>e illo!</td>
        <td>piciatis?</td>
        <td> neque omnis.</td>
      </tr>
      <tr>
        <td>stin</td>
        <td>ere.</td>
        <td>riosam.</td>
        <td>ctio est.</td>
        <td>lectus omnis.</td>
      </tr>
      <tr>
        <td>hic</td>
        <td>ore?</td>
        <td>aiores.</td>
        <td> aliquam!</td>
        <td>nde soluta a?</td>
      </tr>
      <tr>
        <td>blandi</td>
        <td>odi!</td>
        <td> optio.</td>
        <td>adipisci!</td>
        <td>estiae error.</td>
      </tr>
      <tr>
        <td>m possimus!</td>
        <td>bus.</td>
        <td>s esse!</td>
        <td> Facilis.</td>
        <td>uaerat, quae.</td>
      </tr>
      <tr>
        <td>magna</td>
        <td>unt.</td>
        <td>igendi.</td>
        <td>od culpa.</td>
        <td>et, quisquam?</td>
      </tr>
      <tr>
        <td>usto c</td>
        <td>nda.</td>
        <td>quidem.</td>
        <td>ius odit.</td>
        <td>s minima est.</td>
      </tr>
      <tr>
        <td>olup</td>
        <td>dus.</td>
        <td>m, eos.</td>
        <td>bcaecati!</td>
        <td>odit ut esse!</td>
      </tr>
      <tr>
        <td>ue </td>
        <td>ium!</td>
        <td>nda ad.</td>
        <td>t, sequi?</td>
        <td> Error, esse.</td>
      </tr>
      <tr>
        <td>>
        <td> ex.</td>
        <td>oribus?</td>
        <td> Debitis.</td>
        <td>lorum quidem!</td>
      </tr>
      <tr>
        <td>ati.</td>
        <td>mus.</td>
        <td>is hic.</td>
        <td>mporibus?</td>
        <td>or porro quo.</td>
      </tr>
      <tr>
        <td>d </td>
        <td>rum.</td>
        <td>ficiis.</td>
        <td> impedit?</td>
        <td>labore ipsam?</td>
      </tr>
      <tr>
        <td>e, </td>
        <td>dae.</td>
        <td> Illum.</td>
        <td>bero, ut.</td>
        <td>qui mollitia.</td>
      </tr>
      <tr>
        <td>d fa</td>
        <td> ab.</td>
        <td>licabo.</td>
        <td>am vitae!</td>
        <td>ucimus, quis.</td>
      </tr>
      <tr>
        <td>int.</td>
        <td>rum!</td>
        <td>enetur.</td>
        <td>us, iure.</td>
        <td>serunt vitae?</td>
      </tr>
    </tbody>

  </table>

  </div>
  

