.box{
    width:500px; height:500px; overflow:scroll;
}
.maintable{
   table-layout:fixed; 
   min-width:5000px;
   border-collapse: separate;
}

.maintable thead tr th{
    
}
.maintable tbody tr td{

}
.fixer{
   
}

table, th, td {
   border: 1px solid black;
}