

<div style="position:absolute;">



<div style="overflow:scroll; width:300px; height:300px;" 
(scroll)="onScroll($event)">

<table>
  <thead>
    <tr>
      <th>Lorem.<div class="f" [style.top]="scroller + 'px'">Lorem.</div></th>
      <th>Consequatur.<div class="f" [style.top]="scroller + 'px'">Consequatur.</div></th>
      <th>Soluta.<div class="f" [style.top]="scroller + 'px'">Soluta.</div></th>
      <th>Maiores.<div class="f" [style.top]="scroller + 'px'">Maiores.</div></th>
      <th>Ipsum.<div class="f" [style.top]="scroller + 'px'">Ipsum.</div></th>
      <th>Consequuntur!<div class="f" [style.top]="scroller + 'px'">Consequuntur.</div></th>
      <th>Debitis.<div class="f" [style.top]="scroller + 'px'">Debitis.</div></th>
      <th>Sed.<div class="f" [style.top]="scroller + 'px'">Sed.</div></th>
      <th>Officia.<div class="f" [style.top]="scroller + 'px'">Officia.</div></th>
      <th>Eveniet.<div class="f" [style.top]="scroller + 'px'">Eveniet.</div></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Sed, vitae.</td>
      <td>Harum, molestiae!</td>
      <td>Aliquam, dolorum.</td>
      <td>Libero, suscipit.</td>
      <td>Totam, pariatur?</td>
      <td>Atque, sit.</td>
      <td>Reiciendis, cupiditate.</td>
      <td>Eos, quidem.</td>
      <td>Similique, autem?</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Adipisci, impedit.</td>
      <td>Eaque, reprehenderit.</td>
      <td>Consequatur, blanditiis.</td>
      <td>Voluptate, asperiores.</td>
      <td>Rerum, veritatis.</td>
      <td>Doloribus, similique.</td>
      <td>Molestiae, fugit.</td>
      <td>Ullam, porro!</td>
      <td>Esse, veritatis!</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Ea, natus?</td>
      <td>Recusandae, magnam.</td>
      <td>Officia, dolor.</td>
      <td>Maiores, iusto!</td>
      <td>Sit, quibusdam.</td>
      <td>Veniam, et.</td>
      <td>Labore, iste.</td>
      <td>Consectetur, maiores.</td>
      <td>Debitis, saepe.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Eum, assumenda.</td>
      <td>Dicta, odio!</td>
      <td>Dignissimos, voluptatum.</td>
      <td>Maiores, suscipit.</td>
      <td>Enim, itaque!</td>
      <td>Aut, commodi!</td>
      <td>Ab, enim.</td>
      <td>Numquam, aspernatur.</td>
      <td>Inventore, modi.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Quis, dolores?</td>
      <td>Ullam, saepe?</td>
      <td>Atque, sequi!</td>
      <td>Reiciendis, repellat.</td>
      <td>Quam, nobis.</td>
      <td>Deleniti, labore!</td>
      <td>Inventore, molestias.</td>
      <td>Corporis, fugiat.</td>
      <td>Et, enim!</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Enim, nihil.</td>
      <td>Pariatur, sunt.</td>
      <td>Doloribus, at?</td>
      <td>Enim, illo.</td>
      <td>Sed, harum.</td>
      <td>Magni, pariatur.</td>
      <td>Quo, non.</td>
      <td>Porro, error.</td>
      <td>Non, laudantium.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Nihil, doloribus.</td>
      <td>Reprehenderit, hic.</td>
      <td>Maxime, vero.</td>
      <td>At, maxime.</td>
      <td>Tempore, impedit!</td>
      <td>Nam, a!</td>
      <td>Aliquid, nesciunt.</td>
      <td>Sapiente, praesentium!</td>
      <td>Minima, cumque?</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Rem, ab.</td>
      <td>Eligendi, mollitia.</td>
      <td>Temporibus, ut!</td>
      <td>Blanditiis, consectetur.</td>
      <td>Repellat, libero.</td>
      <td>Tempora, recusandae.</td>
      <td>Magni, ea.</td>
      <td>Ut, dolor.</td>
      <td>Reprehenderit, quo.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Perferendis, ea.</td>
      <td>Maxime, quas.</td>
      <td>Omnis, deserunt.</td>
      <td>Nemo, a!</td>
      <td>Facilis, debitis!</td>
      <td>Voluptatum, illum?</td>
      <td>Cum, doloremque.</td>
      <td>Similique, voluptas!</td>
      <td>Incidunt, eaque.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Beatae, adipisci.</td>
      <td>Error, nulla.</td>
      <td>Voluptas, harum?</td>
      <td>Incidunt, architecto.</td>
      <td>Cupiditate, quaerat.</td>
      <td>Quo, nisi.</td>
      <td>Libero, placeat.</td>
      <td>Earum, dolorem!</td>
      <td>Nemo, iure.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Suscipit, praesentium!</td>
      <td>Magni, laboriosam.</td>
      <td>Harum, pariatur?</td>
      <td>Doloribus, id.</td>
      <td>Repellendus, modi.</td>
      <td>Aut, dolores!</td>
      <td>Ea, necessitatibus.</td>
      <td>Unde, nulla.</td>
      <td>Consectetur, aliquid.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>At, facere.</td>
      <td>Ipsum, accusamus!</td>
      <td>Laborum, atque!</td>
      <td>Beatae, suscipit.</td>
      <td>Placeat, odio?</td>
      <td>Quas, quo!</td>
      <td>Minima, quam.</td>
      <td>Non, blanditiis.</td>
      <td>Hic, nemo!</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Earum, exercitationem?</td>
      <td>Voluptatibus, ad.</td>
      <td>Vero, officiis.</td>
      <td>Nobis, quas!</td>
      <td>Dicta, voluptates.</td>
      <td>Quasi, consectetur?</td>
      <td>Unde, ab!</td>
      <td>Quo, dolor?</td>
      <td>Nulla, ratione.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Dolor, beatae.</td>
      <td>Accusantium, placeat.</td>
      <td>Optio, perferendis.</td>
      <td>Optio, quae.</td>
      <td>Dignissimos, perspiciatis!</td>
      <td>Repellat, quam.</td>
      <td>Ea, tempore.</td>
      <td>Vitae, eligendi.</td>
      <td>Quae, quas!</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Blanditiis, molestias.</td>
      <td>Architecto, dignissimos.</td>
      <td>Totam, delectus!</td>
      <td>Velit, unde!</td>
      <td>Quidem, rem.</td>
      <td>Deleniti, saepe.</td>
      <td>Error, sequi.</td>
      <td>Praesentium, vitae.</td>
      <td>Repellendus, unde.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Perferendis, quisquam.</td>
      <td>Saepe, fuga!</td>
      <td>Ducimus, magni.</td>
      <td>Eligendi, quam.</td>
      <td>Unde, illo.</td>
      <td>Iusto, veniam.</td>
      <td>Vitae, eaque!</td>
      <td>Quam, accusantium.</td>
      <td>Tempora, minima?</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Tempora, esse.</td>
      <td>Id, aut.</td>
      <td>Dolorem, itaque!</td>
      <td>Quia, deleniti?</td>
      <td>Earum, assumenda.</td>
      <td>Quam, quisquam.</td>
      <td>Voluptate, aperiam!</td>
      <td>Aut, non!</td>
      <td>Consequatur, animi.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Placeat, dolores!</td>
      <td>Officia, assumenda.</td>
      <td>Temporibus, possimus.</td>
      <td>Non, dolorum.</td>
      <td>Eos, animi.</td>
      <td>Quis, odit?</td>
      <td>Voluptatibus, esse!</td>
      <td>Accusamus, maiores!</td>
      <td>Sed, nesciunt.</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Ullam, dolorum!</td>
      <td>Dolores, sequi?</td>
      <td>Illum, neque!</td>
      <td>Expedita, culpa!</td>
      <td>Magnam, tempore!</td>
      <td>Non, soluta.</td>
      <td>Quaerat, fugit.</td>
      <td>Facere, ex.</td>
      <td>Eligendi, laudantium!</td>
    </tr>
    <tr>
      <td>Lorem ipsum.</td>
      <td>Explicabo, eaque!</td>
      <td>Earum, atque?</td>
      <td>Laborum, consectetur.</td>
      <td>Ducimus, distinctio.</td>
      <td>Fuga, dignissimos.</td>
      <td>Esse, alias.</td>
      <td>Earum, accusantium.</td>
      <td>Maxime, aliquam.</td>
      <td>Nihil, molestiae?</td>
    </tr>
  </tbody>
</table>

</div>



</div>

